body {
    background-color: #14182a;
    font-family: "Josefin_Sans Medium", sans-serif;
}

/* Header */
.hedaer-container {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: #1b2039;
    position: fixed;
    padding: 20px 30px;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right__lang {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right-text {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.header-right__icon {}

.header-right__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header-right__btn {
    color: #fff;
    background-color: #3bc8e7;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 300ms;
}

.header-right__btn:hover {
    box-shadow: 0px 0px 20px 0px #3bc8e7;
}

.header-right__btn-text {}

.header-left {}

.header-left__search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    width: 275px;
}

.header-left__input {
    border: none;
    outline: none;
    padding: 20px;
    width: 100%;
    font-family: "Josefin_Sans Medium", sans-serif;
}

.header-left__search-icon {
    background-color: #3bc8e7;
    height: 40px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;

}

.header-left-icon {}


/* Banner */
.banner {
    padding: 80px 90px 0;
}

.banner-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.banner-content {}

.banner-content__title {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
}

.banner-content__title-custome {
    color: #3bc8e7;
    letter-spacing: -2px;
}

.banner-content__text {
    color: #777777;
    margin: 15px 0 40px;
    line-height: 35px;
    letter-spacing: -0.5px;
}

.banner-content__btns {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

.banner-content-btn {
    background-color: #3bc8e7;
    text-decoration: none;
    color: #fff;
    height: 45px;
    width: 100%;
    max-width: 150PX;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* padding: 0 10px; */
    transition: all 300ms;
    font-weight: 600;
    font-size: 15px;
}

.banner-content-btn:hover {
    box-shadow: 0px 0px 20px 0px #3bc8e7;
}

.banner-photo {}

.banner-photo__img {}


/* Last See Section */

.last-see {
    padding: 35px 90px 0;
    z-index: -1;
    /* position: relative; */
    /*  */
}

.last-see-container {}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* padding: 35px 90px 0; */

}

.section__title {
    font-size: 18px;
    padding-bottom: 15px;
    position: relative;
    color: #3bc8e7;
    font-weight: 600;
}

.section__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: -15px;
    margin: auto;
    height: 10px;
    width: 120px;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);
    z-index: 0;
}

.section__more {
    color: #fff;
    cursor: pointer;
    transition: all 300ms;
}

.section__more:hover {
    color: #3bc8e7;
}

.last-see__content {
    margin: 30px 0;
    /* padding: 0 90px 0; */
    position: relative;
}

/* Swiper */
.last-music {
    transition: all 500ms;
}

.last-music__logo {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: all 500ms;

}

.swiper {}

.last-see__next-btn {
    position: absolute;
    left: 50px;
    top: 170px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 999;
}

.last-see__prev-btn {
    position: absolute;
    right: 50px;
    top: 170px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 999;
}

.last-see__next-btn-img {
    width: 100%;
    height: 100%;
}

.last-see__prev-btn-img {
    width: 100%;
    height: 100%;
}

.last-music__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 500ms;

}

.last-music__overlay {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.last-music-box__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: -300px;
    transition: all 500ms;
}

.last-music:hover .last-music-box__overlay {
    bottom: 0;
    background-image: -webkit-linear-gradient(90deg, rgb(22, 26, 46) 0%, rgb(237, 63, 179) 0%, rgb(59, 200, 231) 0%, rgba(32, 167, 196, 0) 100%);
}

.last-music:hover .last-music__overlay {
    visibility: visible;
    opacity: 1;
}

/* .last-music-box__overlay {
    position: absolute;
    transition: all 500ms;
} */

.last-music-list {
    position: absolute;
    /* top: -300px; */
    top: 3px;
    /* right: 0; */
    left: 40px;
    width: 140px;
    height: 135px;
    background-color: #fff;
    padding: 10px 12px 10px 0px;
    border-radius: 10px;
}

.last-music-list::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    left: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #fff;
}

.last-music-item {
    height: 25px;
    line-height: 25px;
}

.last-music-link {
    font-size: 11px;
    text-decoration: none;
    color: #000;
}

.last-music-link__icon-wrapper {}

/* .last-music-link__icon {
    width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/svg/icon.svg);
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
    background-position: -453px -4px;
} */

.last-music-link:hover .last-music-link__icon {
    color: #3bc8e7;
    background-position: -453px -33px;
}

.last-music__more {
    position: absolute;
    top: -50px;
    left: 10px;
    transition: all 500ms;
    cursor: pointer;
}

.last-music__more-img {}

.last-music:hover .last-music__more {
    top: 10px;
}

.last-music__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.last-music__icon-img {
    width: 200px;
    height: 200px;
    transition: all 300ms;
    z-index: 3;
}

.last-music:hover .last-music__icon-img {
    width: 40px;
    height: 40px;
}

.last-music__icon-img:hover {
    color: rgba(50, 50, 50, 0.9);
}

/* .last-music__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.last-music__icon:after {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    content: "";
    border-radius: 100%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    opacity: 0;
}

.last-music:hover .last-music__icon:hover:after {
    opacity: 1;
}

.last-music__icon-img {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
    position: relative;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    color: rgba(50, 50, 50, 0.9);
}

.last-musi:hover .last-music__icon-img {
    opacity: 1;
    transform: scale(1);
} */

.last-music__content {
    margin-top: 15px;
}

.last-music-title {}

.last-music-name {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.last-music-desc {
    color: #dedede;
    font-size: 14px;
    margin-top: 10px;
}



/* Weekly Music */
.weekly-music {
    padding: 35px 90px 50px;
    z-index: -1;
}

.weekly-music__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekly-music__col {
    width: 400px;
}

.weekly-music__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 3px solid #252b4d;
}

.weekly-music__box:last-child {
    border: none;
}

.weekly-music__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.weekly-music__right-number {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    transition: all 400ms;
}

.weekly-music__right-song {
    display: flex;
    align-items: center;
    gap: 15px;
}

.weekly-music__right-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

.weekly-music__right-img {
    width: 100%;
    height: 100%;
}

.weekly-music__right-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* Hover */
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 300ms;
}

.weekly-music__right-icon {}

.weekly-music__right-play {
    position: absolute;
    /* top: 5px; */
    top: -50px;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: auto;
    transition: all 400ms;
}

.weekly-music__box:hover .weekly-music__right-play {
    top: 5px;
}

.weekly-music__box:hover .weekly-music__right-overlay {
    opacity: 1;
}

.weekly-music__box:hover .weekly-music__right-number {
    color: #3bc8e7;
}

.weekly-music__box:hover .weekly-music__right-link {
    color: #3bc8e7;
}

.weekly-music__right-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 400ms;
}

.weekly-music__right-desc {
    color: #dedede;
    font-size: 14px;
    margin-top: 7px;
}

.weekly-music__left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weekly-music__left-time {
    color: #fff;
    margin-top: 5px;
}

.weekly-music__left-list {
    display: none;
    position: absolute;
    /* top: -300px; */
    top: -5px;
    right: -120px;
    left: 0;
    width: 140px;
    height: 135px;
    background-color: #fff;
    padding: 10px 12px 10px 0px;
    border-radius: 10px;
}

.weekly-music__left-list::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    left: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #fff;
}

.active .weekly-music__right-link {
    color: #3bc8e7;
}

.active .weekly-music__right-number {
    color: #3bc8e7;
}


.offs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.swiper-music {
    /* position: relative; */
}

.swiper-divider {
    width: 100%;
    height: 2px;
    background-color: rgba(37, 43, 77, 0.75);
    box-shadow: 0 0 10px rgba(22, 26, 45, 0.27);
    z-index: 100;
}